.status-being {
  color: #2dde4f;
}
.status-random {
  color: #f5a158;
}
.status-end {
  color: #9A9A9A;
}
.text-red {
  color: #FC7A7A;
}
.search-box {
  display: flex;
  background: #efeff4;
  padding: 0 7px;
  z-index: 3;
}
.search-box .select-icon {
  padding: 8px;
  background: #efeff4;
  position: absolute;
  right: 8px;
}
.search-box .select-icon img {
  width: 28px;
  height: 28px;
}
.select-box {
  padding-bottom: 10px;
  background: #F5F5F5;
}
.select-box .select-wrap {
  padding: 20px 15px 10px 15px;
  background: #fff;
  text-align: left;
}
.select-box .select-wrap label {
  box-sizing: border-box;
  display: inline-block;
  min-width: 69px;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
  font-size: 12px;
  color: #B2B2B2;
  border: 1px solid #B2B2B2;
  border-radius: 3px;
  position: relative;
}
.select-box .select-wrap label input {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.select-box .select-wrap label:last-child {
  margin-right: 0;
}
.select-box .select-wrap label.checked-input {
  background: #22A4FF;
  color: #FFFFFF;
}
.myauction-wrap,
.domain-detail-wrapper {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
}
.myauction-wrap .status-group,
.domain-detail-wrapper .status-group {
  line-height: .3rem;
  font-size: 12px;
  color: #333333;
}
.myauction-wrap .status-group div,
.domain-detail-wrapper .status-group div {
  display: inline-block;
}
.myauction-wrap .status-group div span,
.domain-detail-wrapper .status-group div span {
  vertical-align: middle;
}
.myauction-wrap .auction-name,
.domain-detail-wrapper .auction-name {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: .2rem;
  margin-bottom: .15rem;
}
.myauction-wrap .auction-normal,
.domain-detail-wrapper .auction-normal {
  margin-bottom: .15rem;
  display: flex;
}
.myauction-wrap .auction-normal span,
.domain-detail-wrapper .auction-normal span {
  flex: none;
  line-height: 12px;
}
.myauction-wrap .auction-me,
.domain-detail-wrapper .auction-me {
  color: #22A4FF;
}
.myauction-wrap {
  margin-bottom: 10px;
  background: #fff;
}
.myauction-wrap .myauction-list {
  padding: 0 .15rem .05rem .15rem;
  display: flex;
}
.myauction-wrap .myauction-list .list-left {
  flex: 1;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
}
.myauction-wrap .myauction-list .list-right .am-button {
  position: relative;
  top: 50%;
  right: 0;
  margin-top: -15px;
}
.domain-detail-wrapper .domain-detail {
  margin-bottom: 10px;
  background: #fff;
}
.domain-detail-wrapper .detail-content {
  padding: 0 .15rem .05rem .15rem;
}
.domain-detail-wrapper .timelist-wrapper {
  margin-bottom: 10px;
  background: #fff;
}
.domain-detail-wrapper .timelist-wrapper .time-tip {
  padding: .15rem .15rem .5rem .15rem;
}
.domain-detail-wrapper .timelist-wrapper .time-tip {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #A9A9A9;
  line-height: 16px;
  text-align: justify;
}
.domain-detail-wrapper .detail-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 200;
}
.domain-detail-wrapper .detail-footer.notfixed {
  position: static;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box {
  position: absolute;
  bottom: 0;
  background: #fff;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-title {
  border-bottom: 1px solid #F5F5F5;
  text-align: center;
  padding: .2rem;
  position: relative;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-title h2 {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #030303;
  letter-spacing: 0;
  text-align: center;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-title .close-addbid {
  position: absolute;
  top: .15rem;
  right: .15rem;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-title .close-addbid img {
  width: .24rem;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-content {
  padding: .2rem .15rem;
  border-bottom: 1px solid #F5F5F5;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-content .addbid-account {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0;
  line-height: 12px;
  margin-bottom: .3rem;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-content .addbid-amount {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-content .addbid-amount .addbid-text {
  position: relative;
  top: -0.2rem;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-content .addbid-amount .addbid-text-abs {
  position: absolute;
  top: .15rem;
  right: .3rem;
}
.domain-detail-wrapper .detail-footer .addbid-wrapper .addbid-box .addbid-tips {
  padding: .2rem .15rem;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #A9A9A9;
  letter-spacing: 0;
  text-align: justify;
}
.domain-detail-wrapper .detail-footer .detail-btn {
  position: relative;
  z-index: 2;
}
.timeline-wrapper {
  display: flex;
  margin: .2rem .33rem .8rem;
  position: relative;
  padding-bottom: .8rem;
}
.timeline-wrapper.active-over .node-box .cricle.active {
  border: 4px solid #333;
  background: #bbb;
}
.timeline-wrapper.active-over .time-line {
  background: #333;
}
.timeline-wrapper .node-box {
  flex: 1;
  position: relative;
}
.timeline-wrapper .node-box .cricle {
  width: .06rem;
  height: .06rem;
  border: 4px solid #fff;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  background: #9a9a9a;
  box-shadow: 0 0 1px #C4C4C4;
}
.timeline-wrapper .node-box .cricle.active {
  border: 4px solid #55D125;
  background: #fff;
}
.timeline-wrapper .node-box .cricle .title {
  position: absolute;
  top: -0.35rem;
  font-size: 12px;
  width: .6rem;
  left: 50%;
  margin-left: -0.2rem;
}
.timeline-wrapper .node-box .cricle .time {
  position: absolute;
  bottom: -0.4rem;
  font-size: 12px;
  width: .6rem;
  left: 50%;
  margin-left: -0.3rem;
}
.timeline-wrapper .node-box:before {
  width: 100%;
  height: 2px;
  background: #F5F5F5;
  content: '';
  display: block;
  position: absolute;
  top: .05rem;
}
.timeline-wrapper .time-line {
  height: 2px;
  background: #55D125;
  position: absolute;
  top: .05rem;
  z-index: 2;
}
.timeline-wrapper .dian {
  width: .06rem;
  height: .06rem;
  border: 4px solid #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  background: #9a9a9a;
  box-shadow: 0 0 1px #C4C4C4;
}
.timeline-wrapper .dian .title {
  position: absolute;
  top: -0.35rem;
  font-size: 12px;
  width: .6rem;
  left: 50%;
  margin-left: -0.2rem;
}
.timeline-wrapper .dian .time {
  position: absolute;
  bottom: -0.4rem;
  font-size: 12px;
  width: .6rem;
  left: 50%;
  margin-left: -0.45rem;
}
